body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333; 
    color: #fff; 
}

.top-menu {
    background-color: #222;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 4px #000000; 
    

}

.top-menu a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

.top-menu a:hover {
    background-color: #444; 
}

.top-menu a.active {
    background-color: #555;
}

.title {
    text-align: center;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.content {
    margin: 0px auto;
    width: 80%;
    background-color: #222;
    padding: 4%;
    border: 2px solid #000000;
    border-radius: 25px;
    box-shadow: 0 2px 4px #000000; 
}
